.table thead tr th .tableList {
    position: relative;
}

.table thead tr th .tableList .listSortArea {
    font-size: 12px;
    color: #666;
    letter-spacing: -1px;
    text-align: left;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background-color: #f2f4f7;
    border-top: 1px solid #9aa2b2;
    box-sizing: border-box;
}

.table thead tr th .tableList .col01 {
    width: 68%;
}

.table thead tr th .tableList .col02 {
    width: 32%;
    padding-right: 20px;
    text-align: right;
}

.table thead tr th .tableList .listSortArea .col {
    display: table-cell;
    font-size: 12px;
    color: #333;
    text-align: center;
    vertical-align: middle;
}

.wrBtn {
    position: relative;
    overflow: hidden;
    font-family: inherit;
    display: inline-block;
    padding: 6px 10px 8px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    letter-spacing: -1px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btnBx {
    position: relative;
    /*top: 15px;*/
    /*right: 10px;*/
}

.wrBtn, a.wrBtn {
    border: 1px solid #39f!important;
    background: #39f!important;
    color: #fff!important;
}

a, a:link, a:visited {
    color: #999;
    text-decoration: none;
}



#resumeWrittenBtn {
    padding: 9px 20px 7px;
}

/*-----*/

/*#resumeHeader {*/
/*    text-align: center;*/
/*    font-weight: 800;*/
/*}*/


