/*#educationContainer > .educationGroup,*/
/*#careerContainer > .careerGroup,*/
/*#certificationContainer > .certificationGroup,*/
/*#desiredConditionContainer > .desiredConditionGroup,*/
/*#memberInfoContainer > .memberInfoGroup{*/
/*    background-color: #f5f5f5; !* 회색 배경 *!*/
/*    padding: 10px; !* 내부 패딩 *!*/
/*    margin-bottom: 10px; !* educationGroup 간의 간격 *!*/
/*    border-radius: 5px; !* 모서리를 둥글게 *!*/
/*    border: 2px solid #ddd; !* 테두리 *!*/
/*}*/

.inputContainer > .inputDetailGroup {
    background-color: #f5f5f5; /* 회색 배경 */
    padding: 10px; /* 내부 패딩 */
    margin-bottom: 10px; /* educationGroup 간의 간격 */
    border-radius: 5px; /* 모서리를 둥글게 */
    border: 2px solid #ddd; /* 테두리 */
}


/*.careerGroup {*/
/*    position: relative;*/
/*}*/

.inputDetailGroup {
    position: relative;
}

.deleteButton {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    z-index: 1;
}

.addBtnDiv {
    display: flex;
    justify-content: center;
}