<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.statistic.StatisticMapper">

    <resultMap type="com.project.careerfair.domain.Posting"
               id="postingMap">
        <id column="posting_id" property="postingId"/>
        <result column="company_id" property="companyId"/>
        <result column="member_id" property="memberId"/>
        <result column="round" property="round"/>
        <result column="title" property="title"/>
        <result column="industry_id" property="industryId"/>
        <result column="hiring_count" property="hiringCount"/>
        <result column="spare_count" property="spareCount"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status"/>
        <result column="address" property="address"/>
        <result column="salary" property="salary"/>
        <result column="preferences" property="preference"/>
        <result column="benefits" property="benefit"/>
        <result column="requirements" property="requirement"/>
        <result column="etc" property="etc"/>
        <result column="employment_type" property="employmentType"/>
        <result column="experience_level" property="experienceLevel"/>
        <result column="education_level" property="educationLevel"/>
        <result column="application_count" property="applicationCount"/>
    </resultMap>

    <resultMap id="statisticMap" type="com.project.careerfair.domain.Statistic">
        <result column="end_date" property="endDate" />
        <result column="count" property="count" />
    </resultMap>

<!--    <select id="getAllPostings" resultMap="postingMap">-->
<!--        SELECT * FROM TB_POSTING-->
<!--        WHERE company_id = #{companyId} AND status = '채용중' AND round = #{round}-->
<!--    </select>-->

    <select id="getAllPostings" resultMap="statisticMap">
        SELECT
            end_date, COUNT(*) as count
        FROM
            TB_POSTING
        GROUP BY end_date
        ORDER BY end_date;
    </select>

    <resultMap id="countOfIndustryMap" type="com.project.careerfair.domain.dto.statistic.IndustryCount">
        <result column="industryName" property="industryName" />
        <result column="count" property="count" />
    </resultMap>

    <!-- 업종 별 게시된 채용공고 수 -->
    <select id="getAllPostingByIndustry" resultMap="countOfIndustryMap">
        SELECT TI.industry_name as industryName, COUNT(TP.industry_id) as count
        FROM TB_INDUSTRIES TI
        LEFT JOIN TB_POSTING TP ON TP.industry_id = TI.industry_id
        LEFT JOIN TB_EXHIBITION_INFO TEI on TP.round = TEI.round
        GROUP BY TI.industry_name;
    </select>

    <!-- 업종 별 지원자 수 -->
    <select id="getAllApplicantsByIndustry" resultMap="countOfIndustryMap">
        SELECT TI.industry_name as industryName, COUNT(TJA.member_id) as count
        FROM TB_INDUSTRIES TI
        LEFT JOIN TB_POSTING TP ON TP.industry_id = TI.industry_id
        LEFT JOIN TB_JOB_APPLICATION TJA ON TJA.posting_id = TP.posting_id
        GROUP BY TI.industry_name;
    </select>

    <resultMap id="IndustryAgeGroupResultMap" type="com.project.careerfair.domain.dto.statistic.IndustryAgeGroupDto">
        <result property="industryName" column="industry_name"/>
        <result property="ageGroup" column="age_group"/>
        <result property="applicantCount" column="applicant_count"/>
    </resultMap>

    <!-- 업종 별 공고에 지원한 지원자의 나이대 -->
    <select id="getIndustryAgeGroupData">
        SELECT
            TI.industry_name AS industryName,
            ages.age_group AS ageGroup,
            COALESCE(COUNT(TJA.age), 0) AS applicantCount
        FROM
            (SELECT * FROM TB_INDUSTRIES) TI
                CROSS JOIN
            (SELECT '20대' AS age_group UNION SELECT '30대' UNION SELECT '40대' UNION SELECT '50대' UNION SELECT '60대 이상') ages
                LEFT JOIN
            TB_POSTING TP ON TI.industry_id = TP.industry_id
                LEFT JOIN
            TB_JOB_APPLICATION TJA ON TP.posting_id = TJA.posting_id
            AND (
                    (ages.age_group = '20대' AND TJA.age BETWEEN 20 AND 29) OR
                    (ages.age_group = '30대' AND TJA.age BETWEEN 30 AND 39) OR
                    (ages.age_group = '40대' AND TJA.age BETWEEN 40 AND 49) OR
                    (ages.age_group = '50대' AND TJA.age BETWEEN 50 AND 59) OR
                    (ages.age_group = '60대 이상' AND TJA.age >= 60)
                )
        GROUP BY
        TI.industry_name, ages.age_group
        ORDER BY
        TI.industry_name, ages.age_group;
    </select>


</mapper>