<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.industry.IndustryMapper">

    <!-- industry resultMap-->
    <resultMap type="com.project.careerfair.domain.Industry"
               id="industryMap">
        <id column="industry_id" property="industryId"/>
        <result column="industry_name" property="industryName"/>
        <result column="count" property="count"/>
    </resultMap>

    <select id="getIndustryList" resultMap="industryMap">
        SELECT i.industry_id, i.industry_name, IFNULL(COUNT(p.industry_id), 0) AS count
        FROM TB_INDUSTRIES i
        LEFT JOIN TB_POSTING p ON i.industry_id = p.industry_id AND round = 1
        GROUP BY i.industry_id
    </select>

    <select id="findIndustryNameById" resultMap="industryMap">
        SELECT industry_name
        FROM TB_INDUSTRIES
        WHERE industry_id = #{industryId}
    </select>
</mapper>


