<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.exhibitionInfo.ExhibitionInfoMapper">

    <!-- 관람회목록 불러오는 resultMap-->
    <resultMap type="com.project.careerfair.domain.exhibitionInfo.ExhibitionInfo"
               id="ExhibitionInfoMap">
        <result column="round" property="round"/>
        <result column="location" property="location"/>
        <result column="manager_email" property="managerEmail"/>
        <result column="organizer" property="organizer"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="etc" property="etc"/>
        <result column="bus" property="bus"/>
        <result column="subway" property="subway"/>
        <result column="title" property="title"/>
        <collection property="fileName" ofType="string">
            <result column="file_name"/>
        </collection>
    </resultMap>

    <select id="getCurrentRound" resultType="Integer">
        SELECT MAX(round) FROM TB_EXHIBITION_INFO
    </select>

    <select id="getCurrentInfo" resultMap="ExhibitionInfoMap">
        SELECT ei.*, f.file_name
        FROM TB_EXHIBITION_INFO ei
        LEFT JOIN TB_FILES f ON ei.round = f.round
        WHERE ei.round = #{round}
    </select>

    <insert id="insert">
        INSERT INTO TB_EXHIBITION_INFO
        (round, location, manager_email, organizer, start_date, end_date, etc, bus, subway, title)
        VALUES (#{round}, #{location}, #{managerEmail}, #{organizer}, #{startDate}, #{endDate}, #{etc}, #{bus},
        #{subway}, #{title})
    </insert>

    <!-- 파일이름 등록 -->
    <insert id="insertFileName">
        INSERT INTO TB_FILES (round, file_name)
        VALUES (#{round}, #{originalFilename})
    </insert>

    <!-- 특정회차로 파일 삭제하기 -->
    <delete id="deleteFileNameByRoundAndFileName">
        DELETE FROM TB_FILES
        WHERE round = #{round} AND file_name = #{fileName}
    </delete>

    <!-- 회차 테이블 업데이트 -->
    <update id="update">
        UPDATE TB_EXHIBITION_INFO SET
        location = #{location},
        manager_email = #{managerEmail},
        organizer = #{organizer},
        start_date = #{startDate},
        end_date = #{endDate},
        etc = #{etc},
        bus = #{bus},
        subway = #{subway},
        title = #{title}
        WHERE round = #{round}
    </update>
</mapper>


