<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.members.MemberMapper">

    <resultMap type="com.project.careerfair.domain.Members" id="memberMap">
        <id property="id" column="member_id"></id>
        <result property="password" column="password"></result>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="isActive" column="is_active"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="email" column="email"></result>
        <result property="address" column="address"></result>
        <result property="zipCode" column="zipCode"></result>
        <collection property="authority" ofType="string">
            <result column="member_type"></result>
        </collection>
    </resultMap>

    <resultMap type="com.project.careerfair.domain.Members" id="signMember">
        <id property="id" column="member_id"></id>
        <result property="password" column="password"></result>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="isActive" column="is_active"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="email" column="email"></result>
        <!--        <result property="memberType" column="member_type"></result>-->
        <result property="address" column="address"></result>
        <result property="zipCode" column="zipCode"></result>
        <collection property="authority" ofType="string">
            <result column="member_type"></result>
        </collection>
    </resultMap>

    <update id="active">
        UPDATE TB_MEMBERS SET is_active = 1 WHERE member_id = #{memberId}
    </update>

    <update id="setTypeToCompany">
        UPDATE TB_MEMBERS SET member_type = 'company' WHERE member_type = 'recruiter'
    </update>

    <select id="getAuth">
        SELECT member_type FROM TB_MEMBERS WHERE member_id = #{memberId}
    </select>
</mapper>
