<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.recruiter.RecruiterMapper">

    <insert id="insert" useGeneratedKeys="true"
            keyProperty="companyId">
        INSERT INTO TB_COMPANIES
        (round, member_id, company_name, registration_number,
        number_of_employees, establishment_date, revenue,
        postal_code, address, detail_address,
        ceo_name, industry_id, status)
        VALUES (#{round}, #{memberId}, #{companyName}, #{registrationNumber},
        #{numberOfEmployees}, #{establishmentDate}, #{revenue},
        #{postalCode}, #{address}, #{detailAddress},
        #{ceoName}, #{industryId}, #{status})
    </insert>

    <insert id="insertFileName">
        INSERT INTO TB_FILES (company_id, file_name)
        VALUES (#{companyId}, #{originalFilename})
    </insert>
</mapper>


