<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.admin.RecruitManageMapper">

    <resultMap type="com.project.careerfair.domain.Members" id="recruitMap">
        <id property="id" column="member_id"></id>
        <result property="password" column="password"></result>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="isActive" column="is_active"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="email" column="email"></result>
        <result property="address" column="address"></result>
        <result property="zipCode" column="zipCode"></result>
        <collection property="authority" ofType="string">
            <result column="member_type"></result>
        </collection>
    </resultMap>

    <resultMap type="com.project.careerfair.domain.Posting" id="postingMap">
        <id property="postingId" column="posting_id"></id>
        <result property="companyId" column="company_id"></result>
        <result property="memberId" column="member_id"></result>
        <result property="round" column="round"></result>
        <result property="title" column="title"></result>
        <result property="industryId" column="industry_id"></result>
        <result property="hiringCount" column="hiring_count"></result>
        <result property="spareCount" column="spareCount"></result>
        <result property="startDate" column="is_active"></result>
        <result property="endDate" column="phone_number"></result>
        <result property="status" column="status"></result>
        <result property="address" column="address"></result>
        <result property="salary" column="salary"></result>
        <result property="preference" column="preferences"></result>
        <result property="benefit" column="benefits"></result>
        <result property="requirement" column="requirements"></result>
        <result property="etc" column="etc"></result>
        <result property="employmentType" column="employment_type"></result>
        <result property="experienceLevel" column="experience_level"></result>
        <result property="educationLevel" column="education_level"></result>
        <result property="applicationCount" column="application_count"></result>
<!--        <collection property="memberId" ofType="string">-->
<!--            <result property="memberId"/>-->
<!--        </collection>-->
<!--        <collection property="round" ofType="integer">-->
<!--            <result property="round" />-->
<!--        </collection>-->
    </resultMap>

</mapper>