<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.careerfair.mapper.faq.FaqMapper">

    <resultMap type="com.project.careerfair.domain.Faq" id="faqResultMap">
        <id column="faq_id" property="faqId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
    </resultMap>

</mapper>