.table thead th {
    text-align: left;
}

.table tbody td {
    text-align: left;
}

.table tbody p {
    text-align: left;
}

#noticeTable a {
    text-decoration: none;
    color: black;
}

#noticeTable a:hover {
    color: #00b6a1;
    text-decoration: none;
}

.custom-div {
    max-width: 800px;
    margin: 0 auto;
}